<phpunit colors="true">
  <testsuites>
    <testsuite name="dpm-configuration">
      <directory>tests/Config/</directory>
      <file>ConfigTest.php</file>
    </testsuite>
    <testsuite name="dpm-downloaders">
      <directory>tests/Downloader/</directory>
      <file>DrushTest.php</file>
      <file>GetTest.php</file>
      <file>GitTest.php</file>
      <file>SymlinkTest.php</file>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
</phpunit>
